.app-title
    div
        h1
            i.fa.fa-graduation-cap
            |  Pessoas
        p Essa tela contém formulários para inserir ou editar pessoas.
.row
    .tile.mb-4.col
        .page-header
            .row.mb-3
                .col
                    h2.mb-3.line-head Pessoas
                    .form-row.align-items-center
                        .col
                            input.form-control.mb-2(type='text', placeholder='Pesquisar...', ng-model='searchTerm', ng-enter='searchPerson(searchTerm)')
                        .col-auto(style="border-right: 1px solid #333;")
                            button.btn.btn-primary.mb-2(ng-click='searchPerson(searchTerm)') Pesquisar
                        .col-auto
                            .row.mt-1
                                .col
                                    button.btn.btn-info.mb-2(ng-click='addPerson()') Adicionar pessoa
                    p.text-muted Últimoas pessoas cadastradas no sistema
            .card-columns(ng-if='!resultPersons')
                person-card(ng-repeat='person in persons', person='person')
            .card-columns(ng-if='resultPersons.length > 0')
                person-card(ng-repeat='person in resultPersons', person='person')
